@model List<ASP_NET_MVC_First_Week_Homework.Models.dailymoneylogViewModel>
@{
    Layout = "";
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover" data-pagination="true" data-page-size="20">
            @*<table id="result" data-method="post" data-url="../Home/Index" data-pagination="true"
                data-side-pagination="server" data-page-size="20" data-cache="false" data-striped="true"
                data-undefined-text="" data-classes="table table-bordered" data-cookie-id-table="saveId">*@
            <thead>
                <tr>
                    <th>#</th>
                    <th>類別</th>
                    <th>日期</th>
                    <th>金額</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    int SerialNum = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <th class=" col-xs-1">@SerialNum</th>
                            <th class=" col-xs-1">@item.Type</th>
                            <th class=" col-xs-1">@item.Date.ToString("yyyy-MM-dd")</th>
                            <th class=" col-xs-1">@item.Amount.ToString("N0")</th>
                        </tr>
                        SerialNum++;
                    }
                }
            </tbody>
            @*<tbody>
                    <tr>
                        <th>@Model.</th>
                    </tr>
                </tbody>*@
        </table>
    </div>
</div>

@*<script type="text/javascript" src="~/Scripts/bootstrap-table.min.js"></script>*@

@*<script>
        $(document).ready(function () {
            BindTable();
        });

        function BindTable() {
            $("#result").bootstrapTable("destroy");
            var indexOffset = 0;
            $("#result").bootstrapTable({
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                queryParams: function (params) {
                    jsondata = $.param({
                        limit: params.limit,
                        offset: params.offset
                    }, true);
                    return jsondata;
                },
                onLoadSuccess: function (data) {

                },
                onPageChange: function (number, size) {
                    indexOffset = size * (number - 1);
                }
            });
        }
    </script>*@